h1 {text-align: center;}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

form input {
  margin: 10px;
}

img {
  width: 680px;
  height: 680px;
  padding: 0;
  margin: 0;
}
